<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MercadoLiebre </title>
    <link href="/css/style.css" rel="stylesheet">   <!--vinculo .html con .css  , en ruta asigno carpeta 'madre' = 'css', a la que pertence el archivo '.css' -->
    
    <link rel="icon" type="image/png" href="/images/icono.png" >  <!--imagen de nombre 'icono', formato '.png', en carpeta local 'images' -->
    
    <!--siguientes 3 link copiados de google fonts para importar el tipo de letra ROBOTO, aplicado en el archivo .css -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

     <!--link copiados fontawsome cdn, ultima version para importar iconos -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    

</head>

<body>

    <header>
        <br>
        <div class = "logoMeli">
        <img src = "/images/logo-mercado-liebre.svg" alt="Logotipo MercadoLiebre">
        </div>
        <br>
        
        <div class ="barraBuscadora">
    
            Buscar productos, marcas...
        
        </div>  
        
        <div class="searchIcon">
        <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <!--link de icono copiado de fontawsome <i class="fa-solid fa-bag-shopping"></i> -->

        <p class="compraCuotasCentrado">
        <i class="fa-solid fa-bag-shopping"></i>&nbsp Compra en cuotas y sin tarjeta de credito</span>
        </p>
        <!--&nbsp es para dar un espacio 'tab' -->
       
        <nav class="enlacesHeader">
            
                <p class="alturaEnlaces"><a href="Ofertas.html">Ofertas</a></p>
                <p class="alturaEnlaces"><a href="Tiendas Oficiales.html">Tiendas Oficiales</a></p>
                <p class="alturaEnlaces"><a href="Vender.html">Vender</a></p>
                <p class="alturaEnlaces"><a href="Ayuda.html">Ayuda</a></p>
                <br>           
                <!--agrego dos clases a mismo elemento 'i' ->  class="fa-regular fa-id-card   icono-margen"-->
                <!--icono-margen es clase necesaria para editar los iconos en el .css-->
                <p class="alturaEnlaces"><a href="Creá tu cuenta.html">Creá tu cuenta<i class="fa-regular fa-id-card icono-margen" ></i></a></p>
                <p class="alturaEnlaces"><a href="Ingresá.html">Ingresá<i class="fa-solid fa-right-to-bracket icono-margen"></i></a></p>
                <p class="alturaEnlaces"><a href="Mis compras.html">Mis compras<i class="fa-solid fa-bag-shopping icono-margen"></i></a></p>
                <br>

        </nav>
        
        <div class="burger-menu">

            <i class="fas fa-bars fa-lg" style="color:white"></i> <!-- modifico color del icono para que haya contraste con fondo azul-->

        </div>
        <br>
    
    <img class="imagenBanner" src = "/images/img-home-banner.jpg" alt="Imagen Home Banner">
        
    </header>

    

    <main>       
          
        <section class="seccionVisita">

            
            <h2><strong> Basado en tu última visita </strong></h2> <!-- uso <strong> para hacer la letra tipo bold-->

            <article class="productos">
                                
               
               <img class="imagen" src = "/images/img-cafetera-moulinex.jpg" alt="Imagen Cafetera Moulinex">
               
                                      <!--si quisiera pie de foto:  <figcaption class="figcaptionSeccion1">Samsung Galaxy S10</figcaption> -->
                
                <div class="cadaProductoSinLaFoto">
                    
                    
                    <div class="iconoCirculoDelivery">
                        <div class="iconoCamion">
                        <i class="fa-solid fa-truck" style="color:#39b54a"></i>  <!-- modifico color del icono para que haya contraste con fondo azul-->
                        </div>  
                    </div>
                                       
                    <div class="datosNumeros">                          
                    <p class="precio">$6.770</p>
                    <p class ="descuentos">40% off</p>
                    <h3 class="descripcion">Cafetera Moulinex</h3>
                    </div>
                </div>

            </article>
            
            <article class="productos">

                

                <img class="imagen" src = "/images/img-macbook-pro-2019.jpg" alt="Imagen MacBook Pro 2019">
                    
                

                <div class="cadaProductoSinLaFoto">
                    
                    <div class="iconoCirculoDelivery">
                        <div class="iconoCamion">
                        <i class="fa-solid fa-truck" style="color:#39b54a"></i>  <!-- modifico color del icono para que haya contraste con fondo azul-->
                        </div>  
                    </div>

                    <p class="precio">$230.000</p>
                    <p class ="descuentos">20% off</p>
                    <h3 class="descripcion">MacBook Pro 2019</h3>
                </div>

            </article>

            <article class="productos">

                
                <img class="imagen" src = "/images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy S10">
                    

                <div class="cadaProductoSinLaFoto">
                    
                    <div class="iconoCirculoDelivery">
                        <div class="iconoCamion">
                        <i class="fa-solid fa-truck" style="color:#39b54a"></i>  <!-- modifico color del icono para que haya contraste con fondo azul-->
                        </div>  
                    </div>

                    <p class="precio">$70.500</p>
                    <p class ="descuentos">10% off</p>
                    <h3 class="descripcion">Samsung Galaxy S10</h3>
                </div>

            </article>

            <article class="productos">

                
                <img class="imagen" src = "/images/img-tv-samsung-smart.jpg" alt='Imagen SmartTv Samsung 43"'>
                   
                                        

                <div class="cadaProductoSinLaFoto">
                    
                    <div class="iconoCirculoDelivery">
                        <div class="iconoCamion">
                        <i class="fa-solid fa-truck" style="color:#39b54a"></i>  <!-- modifico color del icono para que haya contraste con fondo azul-->
                        </div>  
                    </div>
                    
                    
                    <p class="precio">$23.200</p>
                    <p class ="descuentos">5% off</p>
                    <h3 class="descripcion">SmartTv Samsung 43</h3>

                </div>
            </article>

        </section>
          
        <section>
            
            <h2><strong> Sección de Ofertas </strong></h2> 
            
            <article class="productos">

            
                <img class="imagen" src = "/images/img-cafetera-moulinex.jpg" alt="Imagen Cafetera Moulinex">
                    
        
                
                <div class="cadaProductoSinLaFoto">
                    
                    <div class="iconoCirculoDelivery">
                        <div class="iconoCamion">
                        <i class="fa-solid fa-truck" style="color:#39b54a"></i>  <!-- modifico color del icono para que haya contraste con fondo azul-->
                        </div>  
                    </div>

                    
                    <p class="precio">$6.770</p>
                    <p class ="descuentos">40% off</p>
                    <h3 class="descripcion">Cafetera Moulinex</h3>
                </div>
                    
            </article>

            <article class="productos">

                <img class="imagen" src = "/images/img-macbook-pro-2019.jpg" alt="Imagen MacBook Pro 2019">
                        
            
                
                <div class="cadaProductoSinLaFoto">
                    
                    <div class="iconoCirculoDelivery">
                        <div class="iconoCamion">
                        <i class="fa-solid fa-truck" style="color:#39b54a"></i>  <!-- modifico color del icono para que haya contraste con fondo azul-->
                        </div>  
                    </div>                  
                    
                    
                    <p class="precio">$230.000</p>
                    <p class ="descuentos">20% off</p>
                    <h3 class="descripcion">MacBook Pro 2019</h3>
                </div>

            </article>

        
            <article class="productos">

        
                <img class="imagen" src = "/images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy S10">
                            

                <div class="cadaProductoSinLaFoto">
                
                    <div class="iconoCirculoDelivery">
                        <div class="iconoCamion">
                        <i class="fa-solid fa-truck" style="color:#39b54a"></i>  <!-- modifico color del icono para que haya contraste con fondo azul-->
                        </div>  
                    </div>                    
                    
                    <p class="precio">$70.500</p>
                    <p class ="descuentos">10% off</p>
                    <h3 class="descripcion">Samsung Galaxy S10</h3>

                </div>

            </article>


            <article class="productos">
        
              
                <img class="imagen" src = "/images/img-tv-samsung-smart.jpg" alt='Imagen SmartTv Samsung 43" '>
                            
            

                <div class="cadaProductoSinLaFoto">
                    
                    <div class="iconoCirculoDelivery">
                        <div class="iconoCamion">
                        <i class="fa-solid fa-truck" style="color:#39b54a"></i>  <!-- modifico color del icono para que haya contraste con fondo azul-->
                        </div>  
                    </div>            
                    
                    <p class="precio">$23.200</p>
                    <p class ="descuentos">5% off</p>
                    <h3 class="descripcion">SmartTv Samsung 43</h3>

                </div>

            </article>
                
        </section>


    </main>

    <footer>
        
        <section class="textosSecciones">

            <div class="iconosFooter">  <!-- tamaño icono fa-2x es igual a 2em-->
                <i class="fa-regular fa-credit-card fa-2x" style="color:#1259c3"></i>
            </div>

            <h2 class = "titulosFooter">Pagá con tarjeta o en efectivo</h2>  <!-- uso <font size= con valor de 1 a 7 > para modificar tamaño de letra-->
            
            <p class="parrafosFooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!.</p>

        </section>
        <br>

        <section class="textosSecciones">

            <div class="iconosFooter">  <!-- tamaño icono fa-2x es igual a 2em-->
                <i class="fa-solid fa-gift fa-2x" style="color:#1259c3"></i>
            </div>

            <h2 class = "titulosFooter">Envío gratis desde $ 2.500</h2>  
            <p class="parrafosFooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>

        </section>
        <br>

        <section class="textosSecciones">

            <div class="iconosFooter">  <!-- tamaño icono fa-2x es igual a 2em-->
                <i class="fa-solid fa-user-shield fa-2x" style="color:#1259c3"></i>
            </div>

            <div class="interlin">
                <h2 class = "titulosFooter">Seguridad, de principio a fin</h2>  
            </div>
            <p class="parrafosFooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>

        </section>

        <br>

        <section class ="copyr">
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>  
            
        </section>
        <br>

    </footer>
    
</body>

</html>