<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MercadoLiebre </title>
    <link href="/css/style.css" rel="stylesheet">   <!--vinculo .html con .css  , en ruta asigno carpeta 'madre' = 'css', a la que pertence el archivo '.css' -->
    
    <link rel="icon" type="image/png" href="/images/icono.png" >  <!--imagen de nombre 'icono', formato '.png', en carpeta local 'images' -->
    
    <!--siguientes 3 link copiados de google fonts para importar el tipo de letra ROBOTO, aplicado en el archivo .css -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

     <!--link copiados fontawsome cdn, ultima version para importar iconos -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    

</head>

<body>

    <header>
        
        <img src = "/images/logo-mercado-liebre.svg" alt="Logotipo MercadoLiebre" class="logoMeli">

        <br>
        <br>
        <br>
        <div class ="barraBuscadora">
        <p>
            Lugar para poner la barra de búsqueda
        
        </p>
        </div>  
        <!--link de icono copiado de fontawsome <i class="fa-solid fa-bag-shopping"></i> -->

        <p class="compraCuotasCentrado">
        <i class="fa-solid fa-bag-shopping"></i>&nbsp Compra en cuotas y sin tarjeta de credito</span>
        </p>
        <!--&nbsp es para dar un espacio 'tab' -->
       
        <nav>
            <ul>
                <a href="Ofertas.html" > <li> Ofertas </li> </a>
                <a href="Tiendas Oficiales.html" > <li> Tiendas Oficiales</li> </a>
                <a href="Vender.html" > <li> Vender</li> </a>
                <a href="Ayuda.html" > <li> Ayuda</li> </a>
                <br>
                
                <!--agrego dos clases a mismo elemento 'i' ->  class="fa-regular fa-id-card   icono-margen"-->
                <!--icono-margen es clase necesaria para editar los iconos en el .css-->
                <a href="Creá tu cuenta.html" ><li>Creá tu cuenta<i class="fa-regular fa-id-card icono-margen" ></i></li></a>
                <a href="Ingresá.html" > <li> Ingresá<i class="fa-solid fa-right-to-bracket icono-margen"></i></li> </a>
                <a href="Mis compras.html" > <li> Mis compras<i class="fa-solid fa-bag-shopping icono-margen"></i></li> </a>
                <br>

            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>

    <main>

        <section class = "ultimaVisita" >

            <h2><strong> Basado en tu última visita </strong></h2> <!-- uso <strong> para hacer la letra tipo bold-->

            <center><img src = "/images/img-cafetera-moulinex.jpg" alt="Imagen Cafetera Moulinex" width="300" height="400"></center>
            
            <center><figcaption class="figcaptionSeccion1">Cafetera Moulinex</figcaption></center> <!--pie de foto-->

            <p class="precio">$6.770</p>
            <p class ="descuentos">40% off</p>
            <h3 class="descripcion">Cafetera Moulinex</h3>
            

            <center><img src = "/images/img-macbook-pro-2019.jpg" alt="Imagen MacBook Pro 2019" width="300" height="400"></center>
                
            <center><figcaption class="figcaptionSeccion1">MacBook Pro 2019</figcaption></center> 
    
            <p class="precio">$230.000</p>
            <p class ="descuentos">20% off</p>
            <h3 class="descripcion">MacBook Pro 2019</h3>


            <center><img src = "/images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy S10" width="350" height="400"></center>
                    
            <center><figcaption class="figcaptionSeccion1">Samsung Galaxy S10</figcaption></center> 
        
            <p class="precio">$70.500</p>
            <p class ="descuentos">10% off</p>
            <h3 class="descripcion">Samsung Galaxy S10</h3>

            <center><img src = "/images/img-tv-samsung-smart.jpg" alt='Imagen SmartTv Samsung 43" ' width="350" height="400"></center>
                    
            <center><figcaption class="figcaptionSeccion1">SmartTv Samsung 43"</figcaption></center> 
        
            <p class="precio">$23.200</p>
            <p class ="descuentos">5% off</p>
            <h3 class="descripcion">SmartTv Samsung 43</h3>

        </section>

                  
          
        <section>
            
            
            <h2><strong> Sección de Ofertas </strong></h2> 
            

            <center><img src = "/images/img-cafetera-moulinex.jpg" alt="Imagen Cafetera Moulinex" width="300" height="400"></center>
                    
            <center><figcaption>Cafetera Moulinex</figcaption></center> 
            <p class="precio">$6.770</p>
            <p class ="descuentos">40% off</p>
            <h3 class="descripcion">Cafetera Moulinex</h3>
                    
        
            <center><img src = "/images/img-macbook-pro-2019.jpg" alt="Imagen MacBook Pro 2019" width="300" height="400"></center>
                        
            <center><figcaption>MacBook Pro 2019</figcaption></center> 
            
            <p class="precio">$230.000</p>
            <p class ="descuentos">20% off</p>
            <h3 class="descripcion">MacBook Pro 2019</h3>
        
        
            <center><img src = "/images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy S10" width="350" height="400"></center>
                            
            <center><figcaption>Samsung Galaxy S10</figcaption></center> 
                
            <p class="precio">$70.500</p>
            <p class ="descuentos">10% off</p>
            <h3 class="descripcion">Samsung Galaxy S10</h3>
        
            <center><img src = "/images/img-tv-samsung-smart.jpg" alt='Imagen SmartTv Samsung 43" ' width="350" height="400"></center>
                            
            <center><figcaption>SmartTv Samsung 43"</figcaption></center> 
                
            <p class="precio">$23.200</p>
            <p class ="descuentos">5% off</p>
            <h3 class="descripcion">SmartTv Samsung 43</h3>
                
        </section>


    </main>

    <footer>
        <br>
        <section>
            <h2>Pagá con tarjeta o en efectivo</h2>  <!-- uso <font size= con valor de 1 a 7 > para modificar tamaño de letra-->
            <p><font size=4>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</font></p>

        </section>

        <section>
            <h2>Envío gratis desde $ 2.500</h2>  
            <p><font size=4>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</font></p>

        </section>

        <section>
            <h2>Seguridad, de principio a fin</h2>  
            <p><font size=4>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</font></p>

        </section>

        <section>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>  
            

        </section>

    </footer>
    
</body>

</html>