<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MercadoLiebre </title>
    <link href="/css/style.css" rel="stylesheet">   <!--vinculo .html con .css  , en ruta asigno carpeta 'madre' = 'css', a la que pertence el archivo '.css' -->
    <link href="/css/style_login.css" rel="stylesheet">
    
    <link rel="icon" type="image/png" href="/images/icono.png" >  <!--imagen de nombre 'icono', formato '.png', en carpeta local 'images' -->
    
    <!--siguientes 3 link copiados de google fonts para importar el tipo de letra ROBOTO, aplicado en el archivo .css -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

     <!--link copiados fontawsome cdn, ultima version para importar iconos -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    

</head>

<body>

    <header class="mainHeader">  <!--es el header completo, que tendra dos lineas grandes, primera logo con barra buscadora y frase y la otra con navigation bar -->
        
        <div class="topHeader-bottomHeader">   <!--lo cree para mover todo el contenido a la derecha menos la imagen banner-->

            <div class = "topHeader">   <!--linea superior del header -->
            
                <div class ="logo-barraBuscadora">
                    
                    <a href="https://www.mercadolibre.com.ar/"><img class="logoMeli" src = "/images/logo-mercado-liebre.svg" alt="Logotipo MercadoLiebre"></a>
           
                    <div class = "barraBuscadora-Icon">      
                        <input type="text" class="barraBuscadora" placeholder="Buscar productos, marcas...">             
            
                        <div class="searchIcon">
                           
                            <button class="botonSendBarraBuscadora" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>  <!--barra buscadora con icono. Pongo el icono dentro del titulo si no me hace el salto de linea -->
                        
                        </div>
                    </div>
                </div>

                <h2 class="compraCuotasCentrado"><i class="fa-solid fa-bag-shopping"></i> Compra en cuotas y sin tarjeta de credito</h2>   <!-- icono shopping con frase -->
                                                                                                                <!--link de icono copiado de fontawsome <i class="fa-solid fa-bag-shopping"></i> -->
                                                                                                                <!--&nbsp es para dar un espacio 'tab' -->
            </div> 

            <nav class="bottomHeader">  <!--linea inferior del header que contendra dos gruopos de listas desordenadas para el nav bar -->
            
                <ul class="leftBottomHeader">

                    <li><a href="Ofertas.html">Ofertas</a></li>
                    <li ><a href="Tiendas Oficiales.html">Tiendas Oficiales</a></li>
                    <li ><a href="Vender.html">Vender</a></li>
                    <li ><a href="Ayuda.html">Ayuda</a></li>

                </ul>

                <ul class="rigthBottomHeader">

                    <li ><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card icono-margen" ></i></a></li>
                    <li ><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket icono-margen"></i></a></li>
                    <li ><a href="Mis compras.html">Mis compras <i class="fa-solid fa-bag-shopping icono-margen"></i></a></li>
                
                </ul>                                                                           <!--agrego dos clases a mismo elemento 'i' ->  class="fa-regular fa-id-card   icono-margen"-->
                                                                                           <!--icono-margen es clase necesaria para editar los iconos en el .css-->
            
            </nav> 
        
            <div class="burger-menu">

                <i class="fas fa-bars fa-lg" style="color:white"></i> <!-- modifico color del icono para que haya contraste con fondo azul-->

            </div>
        
        </div>
 
        <div>  <!-- foto banner-->
            <img  class="imagenBanner"src = "/images/img-home-banner.jpg" alt="Imagen Home Banner">
        </div>

    </header>
      

    <main>


        <form action ="/login.html" method = "get">

            <section class ="sectionLoginUser">

                <div class="divNombreLogin">

                    <label for="nombreUser"></label>
                    <input class="nombreUsuario" type="text" name="nombreUser" id="nombreUser" placeholder="Nombre de usuario" required autocomplete="on">

                </div>

                <div class="divContraLogin">

                    <label for="contraLogin"></label>
                    <input class="passLogin" type="password" name="contraLogin" id="nomcontraLoginbreUser" placeholder="********" required autocomplete="on">
                    <p class="error-password">Por favor, la contraseña debe tener entre 8 y 16 carácteres, e incluir al menos una letra mayúscula, una minúscula y un número.</p>

                </div>
            </section>

            <section class ="sectionBotonEnviar">

                <div class="divSendButton">   <!--uso el search icon como un boton de ejemplo, en vez de la palabra 'ENVIAR' -->

                                            <!-- <button class="botonSend" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>-->
                    <button class="botonSend" type="submit">ENVIAR</button>
                </div>

            </section>

            <br>
            <br>         

        </form>
        
    </main>

    <footer>
        
        <section class="seccionFooter">
 
            <div class="textosSecciones">
            
                <div class="iconosFooter">  <!-- tamaño icono fa-2x es igual a 2em-->
                    <i class="fa-regular fa-credit-card fa-2x"></i>
                </div>

                <h2 class = "titulosFooter">Pagá con tarjeta o en efectivo</h2>  <!-- uso <font size= con valor de 1 a 7 > para modificar tamaño de letra-->
                
                <p class="parrafosFooter">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!.</p>
                
            </div>
       
            <br>

            <div class="textosSecciones">

                <div class="iconosFooter">  <!-- tamaño icono fa-2x es igual a 2em-->
                    <i class="fa-solid fa-gift fa-2x" ></i>
                </div>

                <h2 class = "titulosFooter">Envío gratis desde $ 2.500</h2>  
                <p class="parrafosFooter">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>

            </div>
            <br>

        
            <div class="textosSecciones">
                <div class="iconosFooter">  <!-- tamaño icono fa-2x es igual a 2em-->
                    <i class="fa-solid fa-user-shield fa-2x"></i>
                </div>

                <div class="interlin">
                    <h2 class = "titulosFooter">Seguridad, de principio a fin</h2>  
                </div>
                <p class="parrafosFooter">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>

            </div>

        </section>

        <br>

        <section class ="copyr">
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>  
            
        </section>
        <br>

    </footer>
</body>

</html>