header{          /*props generales para todo el header*/
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;                                                                                                                                                   
}

.logoMeli{

    
    width: 150px;/*Tamaño del ancho de la imagen*/
    margin-left: 15px; 
    
}




.barraBuscadora{

    margin-left: 15px;                  /*Asigno props de borde al div: color, grosor y estilo*/
    background-color: white;
    max-width: 210px;
    border-style:double;
    border-top-width: 1px;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
    text-align: left;  /*Centrado de texo dentro del div*/
    border-radius: 1px;/*Radio de borde de la barra*/
}

.searchIcon{

    margin-left: 15px; /*Asigno margen derecho maximo para acortar la 'barra blanca' de busqueda y que no ocupe todo el ancho de pantalla */
    margin-top: 1px;/*Asigno margen superior del div para separar de la barra de busqueda*/
    max-width: 12px;                  /*Asigno props de borde al div: color, grosor y estilo*/
    background-color: white;
    border-style:double;
    border-top-width: 1px;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
    top: 20px;
    text-align: center;
    border-radius: 1px;


}
    
.compraCuotasCentrado{

    margin-left: 50px;
    
}

.icono-margen{

    margin-left: 10px;
}

.alturaEnlaces{

    line-height: 20%;
}

.burger-menu{

    text-align: center;
    margin-left: 190px;/*Asigno margen superior del div para separar de la barra de busqueda*/
    max-width: 20px;                  /*Asigno props de borde al div: color, grosor y estilo*/
    background-color: #03264C;
    border-style:solid;
    border-top-width: 8px;
    border-bottom-width: 8px;   /*Asigno separadcion entre el icono y el borde del div*/
    border-left-width: 6px;
    border-right-width: 6px;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-radius: 3px;
    

}

h2{

    font-size: 24px;
    
   
}

.figcaptionSeccion1{

    color: blue;
}

p{
    font-size: 12px;
}

.precio{

    font-size: 18px;
}

.descuentos{

    font-size: 16px;
}

.descripcion{

    font-size: contain;
}

footer{          /*props generales para todo el header*/
    
    font-family: 'Roboto', sans-serif;
    border-style:solid;
    border-top-width:3px;
    border-bottom-width: 5px;   /*Asigno separadcion entre el icono y el borde del div*/
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-color: grey;
    border-right-color: grey;
    border-top-style: none;
    border-bottom-color: grey;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-color: grey;
    border-radius: 3px;
                                                                                                                                             
}


.iconosFooter {

    margin-left: 10px; /*Asigno margen derecho maximo para acortar la 'barra blanca' de busqueda y que no ocupe todo el ancho de pantalla */
    /*Asigno margen superior del div para separar de la barra de busqueda*/
    margin-bottom: 10px;             /*Asigno props de borde al div: color, grosor y estilo*/
    border-radius: 1px;

}

.textosSecciones{

    text-align: center;
    max-width: 280px;
    margin-left: 50px
}

.titulosFooter{

    color:#666;
    font-size: 17px;
    font-weight: bold;
}

.parrafosFooter{

    color:rgb(195, 195, 195);
    font-size: 14px;   
    
}

.interlin{

    margin-bottom: 0px;
}

.copyr{

    text-align: left;
    font-size: 12px;
    color: #7a7676;
    font-weight:bolder;
    margin-left: 10px;
}