body{

    border:4px solid  #ebebeb;
    box-shadow: 1px 2px 0px rgb(100,100,100);
    margin:4px;
    font-family: 'Roboto', sans-serif;
}

.mainHeader{          /*props generales para todo el header*/
    background-color: #EAC926;
    padding: 0px;
                                                                                                                                                    
}

.topHeader-bottomHeader{ /*lo cree para mover todo el contenido a la derecha menos la imagen banner*/

        padding:12px
}

.logoMeli{

    
    width: 150px;/*Tamaño del ancho de la imagen*/
   
    
}


.topHeader{

    margin-bottom: 15px;  /*alejo el topHeader del burguer menu*/
}

.imagenBanner{

    margin-top: 20px
}
    
   
.logo-barraBuscadora{   /*contenedor padre que contiene el logo meli y el contenedor que a su vez contiene la barra buscadora y el icono search*/

    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
 
}


.logoMeli {  /*mitad del div padre*/

    padding-right: 5px;
}

.barraBuscadora-Icon{   /*contenedor generado para unir la barra buscadora y el icono search*/

    background-color: white;
    border: solid 1px white;
    border-radius: 3px;
    flex-grow: 0.5;/*mitad del div padre*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    
    
}



.barraBuscadora{

                   /*Asigno props de borde al div: color, grosor y estilo*/
    background-color: white;
    max-width: 210px;
    text-align: left;  /*Centrado de texo dentro del div*/
    /*Radio de borde de la barra*/
    display:inline-block; /*Posiciono como elemento de linea para colocar el icono de buqueda al lado*/
    font-size:15px;
    border-color: white;
    outline: none;
    border:none;
    font-size: 10px;
    margin:0;
    padding-left:5px
 

}

.botonSendBarraBuscadora{

    background-color: white;
    border: none;
    /* position: relative;
    right: 6px; */
}

/* .searchIcon {

    /*Asigno margen derecho maximo para acortar la 'barra blanca' de busqueda y que no ocupe todo el ancho de pantalla */
    
    /* margin-left: 1px;            Asigno margen superior del div para separar de la barra de busqueda */
                     /*Asigno props de borde al div: color, grosor y estilo*/

    /* max-width: 15px; 
    text-align: center; */
    /* display:inline-block;Posiciono como elemento de linea para colocar la barra de buqueda al lado */
    /* font-size:15px;
    border:none;
    padding-right:5px */


/* } */ 

    
.compraCuotasCentrado{

    text-align: center;
    font-size: 15px;
    font-weight: 500;

    

}


.burger-menu{

    text-align: center;
    display:block;
    margin:auto; /*Asigno auto para centrarlo respecto del bloque div'*/
    max-width: 20px;                 
    background-color: #03264C;
    padding:8px;
    border-radius: 3px;
    
}


.bottomHeader{

    display:none; /*escondo el contenedor de las listas desordenadas*/
}




article:hover{/*cuando paso por encima del articulo completo, impacta el giro antihorario para el elemento de clase .iconocamion*/

    box-shadow: 5px 10px #888888;


}





ul{   /*edito cada item del los dos listados*/

    list-style: none; /*quito bullets en list items*/
    padding-left: 0;
}


a{     /*edito cada link*/


    text-decoration: none; /*quito el subrayado*/
    color:black;
    line-height: 50%

}


.imagenBanner{ /*la inclui dentro del header*/

  
   vertical-align: middle; /*para eliminir el espacio de 3px que me pone debajo de la foto por default*/
   width: 100%; /*ocupar el 100% del div osea del header*/
}

/*---------------------------------------------------- HASTA ACA EL HEADER-------------------------------------------------*/


/*---------------------------------------------------- MAIN-------------------------------------------------*/

main{


    padding-left:5% ;   /*al pedirme 90% del total del ancho de la pantalla, hago un padding de 5% a la izq y derecha*/
    padding-right:5%;
    background-color: #ebebeb;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.seccionVisita{

    margin-bottom: 5px;
}

.productos{

    margin-bottom: 10px;
    box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.3);  
          
}

.imagen{

   height: auto;
   width: 100%; /*del padre contenedor, que es article class="productos", quer a su vez es igual al main por default*/
   padding-top: 10px;
   background-color: white; /*para completar con mismo color la porcion agregada del padding y darle mas top blanco por encima de la imagen*/
}


.iconoCirculoDelivery{
    
    width: 40px;  /*genero un circulo a partir del div padre, al darle props de width y height iguales y border radius de 50%*/
    height: 40px;
    border-radius: 50%;
    border: #39b54a solid 1px;
    margin-bottom: 0px;
    background-color: white;   /*para que no se note la linea divisora cuando genero el movomiento relativo*/
  
 
}

.iconoCamion{

    padding: 10px;  /*centro el camion, que esta dentro de un div, respecto al circulo*/
    transition: transform 1000ms;
}

article:hover .iconoCamion{/*cuando paso por encima del articulo completo, impacta el giro antihorario para el elemento de clase .iconocamion*/

    transform: rotate(-90deg);


}

.contendorParaCirculoDelivery{
    display: flex;
    justify-content: end;
    position: relative;   /*movto del div relativo a su posicion original*/
    bottom: 37px;  /*desplazo el contenededor completo que tiene el div del icono,desde el bottom del div padre.*/
}

.cadaProductoSinLaFoto{

   
    padding: 15px;
    border: solid 1px #ebebeb;
    background-color: white;
   

}


.precio-Descuento{

    display:flex;
    align-items: center;
}


.datosNumeros{

    margin-top: 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


  


p{
    font-size: 12px
}

.precio{

    font-size: 18px;
    line-height: 1px;  /*interlineado*/
    
}

.descuentos{

    font-size: 16px;
    color:#39b54a;
    line-height: 1px;
    padding-left: 1.5rem;
    font-weight: bold;
}

.descripcion{
    display: none;
    font-size: 1rem;
    color:grey
}


article:hover{/*cuando paso por encima del articulo completo, genera shadow*/

    box-shadow: 5px 10px #888888;


}
 /*--------------------------------------------------FOOTER-----------------------------------------------------r*/


 .seccionFooter{

    display: flex;
    flex-direction: column;
    align-items: center;
 }

footer{          /*props generales para todo el header*/
 
    text-align: center;   
                                                                                                                                             
}


.iconosFooter {

    text-align: center;  /*Asigno margen derecho maximo para acortar la 'barra blanca' de busqueda y que no ocupe todo el ancho de pantalla */
    /*Asigno margen superior del div para separar de la barra de busqueda*/
    margin-bottom: 10px;             /*Asigno props de borde al div: color, grosor y estilo*/
    border-radius: 1px;
    color:  #0730b6
}

.textosSecciones{

    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px
    
}

.titulosFooter{

    color:#666;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px; /*acerco titulo con parrafo*/
}

.parrafosFooter{

    color:rgb(195, 195, 195);
    font-size: 14px;
    text-align: center;
    margin-top: 2px;
    
}

.interlin{

    margin-bottom: 0px
}

.copyr{

    text-align: left;
    font-size: 12px;
    color: #7a7676;
    font-weight:bolder;
    padding-left: 15px
}


 /*------------------------------------------------------------1ra qeyery 735px---------------------------------------------*/

@media (min-width:735px){

    
    .topHeader-bottomHeader{

        padding-bottom: 5px;
    }
    
    
    .topHeader{

        display: flex;  /*dispongo en misma linea los 3 items internos: logo, barra+searicon y frase cuotas*/
        margin-top:10px;
        justify-content: space-around;  /*acomodo los 3 items internos: logo, barra+searicon y frase cuotas*/
        align-items: center;
        
    }


    .burger-menu{

        display:none;

       
    }

    .logo-barraBuscadora{   /*contenedor padre que contiene el logo meli y el contenedor que a su vez contiene la barra buscadora y el icono search*/

        display: flex;
        flex-grow: 0.6;
        justify-content: space-around;
      

    }

    .logoMeli {  /*mitad del div padre*/

        flex-grow: 0.5;
        padding-right: 2em;
        width: 50%;
    }


    .barraBuscadora-Icon{   /*contenedor generado para unir la barra buscadora y el icono search*/

      
        display: flex;  /*dispongo en misma linea los 2 items internos:  barra y searicon */
        align-items: center;
    
        
    }

    .barraBuscadora{  /*edito la barra buscadora*/

        border:solid 1px white;
        border-radius: 1px;
        width: 100%;
       
    }

    .compraCuotasCentrado{

        font-size: 15px;     
     
    }

    .bottomHeader{ /*dispongo en misma linea los 2 pares de ul*/

        display:flex; 
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .leftBottomHeader{  /*dispongo en misma linea  primer ul*/

        display:flex; 
        justify-content: flex-start;
        flex-grow: 0.5;
        padding-left: 10px;
    }


    .rigthBottomHeader{ /*dispongo en misma linea segundo ul*/

        display:flex; 
        justify-content: flex-end;
        flex-grow: 0.5;
        padding-right: 10px;
    }


/*------------------------------------1 RA QEURY DEL HEADER HASTA ACA-----------------------*/




    ul{
        font-size: 11px;
        


    }

    li{
    padding-left:5px ;
    padding-right:5px

    }
   
    .productosUltimaVisita{  /*dispongo en contendor a los 4 ariculos*/

        display: flex; /*dispongo en contendor a los 4 ariculos*/
        flex-wrap: wrap;  /*dispongo en contendor a los articulos que entren en el ancho del contenedor padre*/
        justify-content: space-between


    }

    .productosOferta{
        display: flex; /*dispongo en contendor a los 4 ariculos*/
        flex-wrap: wrap;  /*dispongo en contendor a los articulos que entren en el ancho del contenedor padre*/
        justify-content: space-between

    }
    
    .productos{

        width: 45%; /*dispongo el ancho de cada tarjeta respecto al contenedor padre para que entren dos articulos en linea*/
        padding: 0px;
        margin-bottom: 15px;
    }

    .contendorParaCirculoDelivery{
        display: flex;
        justify-content: end;
    }

    

    .descuentos{

        font-size: 16px;
        color:#39b54a;
        line-height: 1px;
        padding-left: 60px;
      
    }
    .descripcion{
        display: block
    }
    


    
    


}


/*------------------------------------2 da QEURY 1024PX------------------ ----------------------------------*/


@media (min-width:1024px){

    
    .topHeader-bottomHeader{

        padding-bottom: 5px;
    }
    
    
    .topHeader{

        display: flex;  /*dispongo en misma linea los 3 items internos: logo, barra+searicon y frase cuotas*/
        margin-top:10px;
        justify-content: space-around;  /*acomodo los 3 items internos: logo, barra+searicon y frase cuotas*/
       align-items: center;
        
    }


    .burger-menu{

        display:none;
       
    }

    .logo-barraBuscadora{   /*contenedor padre que contiene el logo meli y el contenedor que a su vez contiene la barra buscadora y el icono search*/

        display: flex;
        flex-grow: 0.6;
        justify-content: space-around;
      

    }

    .logoMeli {  /*mitad del div padre*/

        flex-grow: 0.5;
        padding-right: 2em;
        width: 50%;
    }


    .barraBuscadora-Icon{   /*contenedor generado para unir la barra buscadora y el icono search*/

      
        display: flex;  /*dispongo en misma linea los 2 items internos:  barra y searicon */
        align-items: center;
    
    }

    
    .searchIcon{  /*edito el icono buscador*/

        border:none;    
        border-radius:2px;
        margin-left: 5px;

    }

    .barraBuscadora{  /*edito la barra buscadora*/

        border:solid 1px white;
        border-radius: 1px;
        width: 100%;
       
    }


    .compraCuotasCentrado{

        font-size: 15px;
       
      
    }


    .bottomHeader{ /*dispongo en misma linea los 2 pares de ul*/

        display:flex; 
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .leftBottomHeader{  /*dispongo en misma linea  primer ul*/

        display:flex; 
        justify-content: flex-start;
        flex-grow: 0.5;
        padding-left: 10px;
    }


    .rigthBottomHeader{ /*dispongo en misma linea segundo ul*/

        display:flex; 
        justify-content: flex-end;
        flex-grow: 0.5;
        padding-right: 10px;
    }

    ul{
        font-size: 11px;
        


    }

    li{
        padding-left:5px ;
        padding-right:5px

    }
   
    .productosUltimaVisita{  /*dispongo en contendor a los 4 ariculos*/

        display: flex; /*dispongo en contendor a los 4 ariculos*/
        flex-wrap: wrap;  /*dispongo en contendor a los articulos que entren en el ancho del contenedor padre*/
        justify-content: space-between


    }

    .productosOferta{
        display: flex; /*dispongo en contendor a los 4 ariculos*/
        flex-wrap: wrap;  /*dispongo en contendor a los articulos que entren en el ancho del contenedor padre*/
        justify-content: space-between

    }
    
    .productos{

        width: 22.5%; /*dispongo el ancho de cada tarjeta respecto al contenedor padre y con esto me lo cuadra para que enten 4 en linea*/
        padding: 0px;
        margin-bottom: 15px;
    }

    .descuentos{

        font-size: 16px;
        color:#39b54a;
        line-height: 1px;
        padding-left: 60px;
      
    }
    

    .descripcion{  /*oculto la descripcion*/
        display: none;
    }

    article:hover .descripcion{/*cuando paso por encima del articulo completo, muestra la descripcion del prodcuto que estaba oculta para esta resolucion*/

    display: block
    

}

/*-----------------------2DA QUERY FOOTER------------------------------------*/

.seccionFooter{

    display: flex;
    flex-direction: row;
    justify-content: center;
}

    
 .iconosFooter{  
    transition: transform 2000ms;
 }

.textosSecciones:hover .iconosFooter{     
                                                /*- al pasar por textosSecciones, aplica efecto sobre iconosFooter-*/ 
    color: rgb(0, 138, 223)
}


}






